#Databases

Databases are a data structure that allow for persistent storage of data on disk, unlike previously covered data structures like lists, tuples and dictionaries that just persist in memory as long as a program is executing.  

Relational databases such as SQLite, MySQL and PostgreSQL are called relational since that are composed of an excel like structure called a table where you have rows called relations and columns that are called attributes.  Each row is unique with various datatypes making up each column.

In this lecture we will use the SQLite database since its a great tool to use when first learning how to use a database.  The database can be downloaded from the [SQLite Website](www.sqlite.org).  On macos the the sqlite database is already installed and can be accessed by going to the terminal, typing sqlite3 then hit enter.  If you are using Windows you will need to download sqlite3 for windows and follow the instructions for installation and use.

In addition, after the sqlite database is created locally, it will need to be uplodated to google drive in order to accessed by the jupyter notebook in google colab.  

Once we have a connection to the database we will discuss the use of Structured Query Language or SQL.  SQL is a language which allows us to interact with the data within one or more tabales in a database.  These interactions occur via CRUD operations(CREATE, READ, UPDATE, DELETE).

#Create Database

Lets create a database called Patient Information that has one table called Patients.  It will hold demographic information for patients admitted to a hospital inpatient unit.

First lets create the database using the following steps:
1. Open a terminal window(on mac) or command prompt on   
   windows.  
2. Go to the directory where I want the database created.  
3. Run the command at the prompt: sqlite3 database_name.  

Below is what you will see except the directory portion "(base) nicholassazy@Nicholass-MBP Lecture09" will be different of course from your system.

(base) nicholassazy@Nicholass-MBP Lecture09 % sqlite3 patientinformation

#Upload database to google drive

Once the database is created, upload the newly created database to your google drive.

#Connect your google drive to Colab

Now type in the following to connect or mount the drive to Colab:

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

Once you click to execute the cell above you will proceed through the following steps:
1. Choose the google acount you want to select and provide your password when 
   prompted.
2. After which click on the Allow button at the bottom of the window.  Once 
   connected you will see "Mounted at /content/drive" appear below the cell as can be seen above.

#Create the database connection

To create a connection from this notebook to the sqlite database "patient information" on my google drive I need to import sqlite3 then create the connection string as can be seen below.  Once all the information is typed in the cell, execute the cell.

In [ ]:
import sqlite3
conn = sqlite3.connect("/content/drive/MyDrive/data/patientinformation.db")

#Create Patients table

In order to create a table in SQL the following general syntax is utilized.


```

CREATE TABLE IF NOT EXISTS table_name (
    first_column column_datatype,
    second_column column_datatype
    );

```

Now that we understand the general SQL syntax for creating a table lets use the CREATE TABLE command to create the Patients table. 

As can be seen below for the first column, ID, to the right is its datatype, PRIMARY KEY AND AUTOINCREMENT.  Primary key means that each value for ID in each row will have a unique value.  In other words ID for row one will be 1, row 2 will be 2 and so on.  Autoincrement is used so that database will automatically provide that value for the ID column each time a row is added incrementing the value each time.

For all other columns each column has to its right its datatype followed by NOT NULL.  NOT NULL means a value has to be provided when adding values to the table or an error will occur.  In the event that the column does not require a value NULL can be used instead.


```
CREATE TABLE IF NOT EXISTS Patients 
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    FirstName TEXT NOT NULL,
    LastName TEXT NOT NULL,
    DOB INTEGER NOT NULL,
    StreetAddress TEXT NOT NULL,
    City TEXT NOT NULL,
    State TEXT NOT NULL,
    ZipCode INTEGER NOT NULL);
```

Utilizing the SQL above lets execute the code below to create the Patients table.

In [ ]:
conn.execute('''CREATE TABLE IF NOT EXISTS Patients 
    (ID INTEGER PRIMARY KEY AUTOINCREMENT,
    FirstName TEXT NOT NULL,
    LastName TEXT NOT NULL,
    DOB INTEGER NOT NULL,
    StreetAddress TEXT NOT NULL,
    City TEXT NOT NULL,
    State TEXT NOT NULL,
    ZipCode INTEGER NOT NULL);''')

Now we need to run the commit method of the connection object conn to save the information to the database.

In [ ]:
conn.commit()

Now in order to insert data into the database the following syntax is needed:

```
INSERT INTO TABLE_NAME(column_one, etc),
VALUES(value_one, etc);
```

With the above syntax, the initial insert statements are below:
```
INSERT INTO Patients 
VALUES 
(NULL, "John", "Doe", 05/15/1964, "1111 Mickey Way", "Valrico", "FL", 33601);
INSERT INTO Patients 
VALUES
(NULL, "Jane", "Doe", 09/23/1985, "55 Turnstile Way", "Taos", "NM", 56478);
INSERT INTO Patients 
VALUES
(NULL, "Rick", "Smith", 06/17/1981, "786 Herring Loop", "Madison", "WI", 65908);
```

Place each Insert string as a parameter to the execute method of the conn object as seen below.

In [ ]:
conn.execute("INSERT INTO PATIENTS VALUES (NULL,'John', 'Doe', '1964-05-15', '1111 Mickey Way', 'Valrico', 'FL', 33601);")
conn.execute("INSERT INTO PATIENTS VALUES (NULL,'Jane', 'Doe', '1985-09-23', '55 Turnstile Way', 'Taos', 'NM', 56478);")
conn.execute("INSERT INTO PATIENTS VALUES (NULL,'Rick', 'Smith', '1981-06-17', '786 Herring Loop', 'Madison', 'WI', 65908);")

Now as before run the commit method on the connection object conn to save the values inserted into the database.

In [ ]:
conn.commit()

To retreive data from the Patients table utilize the following statement:

SELECT * FROM TABLE_NAME; 

The use of the star "*" means to select everything or all rows and columns from the table.

The following statement will select all the data from the table:

SELECT * FROM PATIENTS;

Lets execute this statement below.

In [ ]:
cursor = conn.execute(''' SELECT * from Patients;''')

Now lets retreive each of the rows in the table using the for loop below.

In [ ]:
for row in cursor:
  print(row)

(1, 'John', 'Doe', '1964-05-15', '1111 Mickey Way', 'Valrico', 'FL', 33601)
(2, 'Jane', 'Doe', '1985-09-23', '55 Turnstile Way', 'Taos', 'NM', 56478)
(3, 'Rick', 'Smith', '1981-06-17', '786 Herring Loop', 'Madison', 'WI', 65908)

For the UPDATE statement, the where clause will be introduced.  The syntax is below:

```
UPDATE TABLE_NAME
SET COLUMN_NAME = VALUE
WHERE condition;
```
Here is the UPDATE statment to be run on the Patients table.  This time we will run the commit method right after the execute.

In [ ]:
cursor = conn.execute('''UPDATE PATIENTS SET LastName = "Doe" WHERE FirstName == "Rick";''')
conn.commit()

Now lets look at the table again to see the change we just made.

In [ ]:
cursor = conn.execute(''' SELECT * from Patients;''')
for row in cursor:
  print(row)

In the event that a row in the table requires updating where another individual has the same last name you can use the AND key word to include another column in the where condition.

In [ ]:
cursor = conn.execute('''UPDATE PATIENTS SET City = "Tampa" WHERE FirstName = "John" AND LastName = "Doe";''')
conn.commit()

Now lets look at the table again to see the change we just made.

In [ ]:
cursor = conn.execute(''' SELECT * from Patients;''')
for row in cursor:
  print(row)

To delete lets say the record for Rick Smith from the table the following will be used:

In [ ]:
cursor = conn.execute('''delete from patients where firstname =='Rick';''')
conn.commit()

An important note to make here is to ALWAYS use at least a condition with the where clause when deleting information from a specific portion of a table. 
**NEVER USE 'DELETE FROM PATIENTS' AS THAT WILL DELETE ALL INFORMATION FROM THE TABLE UNLESS YOUR INTENTION IS TO ERASE THE DATA IN THE TABLE**

Now let revist the patients table one more time to review it after the delete statement was executed.

In [ ]:
cursor = conn.execute(''' SELECT * from Patients;''')
for row in cursor:
  print(row)

Now that all our work on the patients table is complete we need to close the connection to the database.  The following statement accomplishes this.

In [ ]:
conn.close()

Extra

In [ ]:
#sql statement to remove all records/rows from a table
cursor = conn.execute('''DELETE from Patients;''')

In [ ]:
#sql statement to remove a table
cursor = conn.execute('''DROP TABLE Patients;''')