##Operators, Expressions, Comments and Conditionals

Operators in python include commonly used math operators such as the following: (), **, *, /, + and - which are parenthesis, exponents, multiplication, division, addition and subtraction. The order in which these operators is listed is known as the "rules of precedence" or the order in which each operator evaluated in an expression.   This order of evaluation also is known as PEMDAS.  Other math operators include // and % which is floor division and modulus.

##Arithmatic operators, expressions and comments.

Each code snippet below which shows examples of each is also an example of an *expression*. Another important concept to under is the use of comments in python programs using the pound sign # which I will demonstrate below.


Here the math operations in the parenthesis are evaluated from left to right resulting in 2*1 with the result of 2

In [ ]:
(1+1)*(6-5) # Here the math operations in the parenthesis are evaluated from left to right 
            # resulting in 2 * 1, end result of 2

2

In [ ]:
5 / 2

2.5

The following will demonstrate 3 ** 2 or 3 to the power of 2.

In [ ]:
3 ** 2

9

Below 14 % 3 will divide 14 by 3 giving the result of 4 with 2 left over.

In [ ]:
14 % 3

2

The following using floor division take the result and round it to the next whole number.  Since the previous result was 2.5 here the result is rounded down to 2.

In [ ]:
5//2

2

##Assignment operators

Assignment operators as seen before in the Variables notebook involve assigning a value to a variable.  Here I will assign the value 15 to the variable x.

In [ ]:
x  = 15
x

15

With regards to the math operators reviewed previously, the following math operators can be combined with the assignment operator = to compute a new value as part of an expression an assign the new resulting value to the variable.  The following examples will demonstrate this concept and I will use the variable x with the value of 15 as shown above.

Here the value of x or 15 will be added to 5 and the resulting value of 20 will now be assigned to x.

In [ ]:
x  = x + 5 
x

20

Now a shortcut version of the example above which gives the same result is to put the + in front of the = sign.  This condenses the code.

In [ ]:
x += 5

25

In fact each of the math operators shown previously can have this same shortcut applied as seen below:

x = x ** 5 --> x **= 5

x = x * 5 --> x *= 5

x = x / 5 --> x /= 5

x = x - 5 --> x-=5

x = x % 5 --> x %= 5

x = x // 5 --> x //= 5

##Boolean operators

Boolean operators are used to compare two values which will evaluate to TRUE or FALSE.  An example of of this would be the the equality operator == as shown in the expression below.

In [ ]:
15 == 5 # Will evaluate to up false

False

Other boolean operators include the following:

In [ ]:
5 != 6 # != is not equal to.  Here evualuate to False

True

In [ ]:
6 < 5 # < is less than.  This will evaluate to True

False

In [ ]:
7 > 5 # > is greater than.  This expression will evaluate to True.

True

In [ ]:
8 <= 5 # <= is greater than or equal to.   This expesiin will evaluate to Fale.

False

In [ ]:
9 >= 6 # >= is greater than or equal to.  This expession will evaluate to False.

True

##Logical operators

Logical operators include: and, or, not. The following are examples of each.

In [ ]:
a = 5
a > 1 and a < 10 # Will be true only if both expressions evaluate to true.

True

In [ ]:
b = 6
b > 1 or b < 10 #Is true if either expression evaluates to true.

True

In [ ]:
jc = 7
d = 10
not (c > d) # This will evaluate to true if c > d is False

True

##Conditionals and If statements

Checking a condition or if an expression such as a == 5 is true or not is an important part of programming.  You can check if a condition is true or not and execute the programming accoringly based on the evaulation of the expression.  Below the expression a == 5 is preceded by the if keyword and followed by a colon :.  
The following example demonstrates these concepts.

In [ ]:
a = 5
if a == 5: # Statement which checks to see if value in a is equal to 4
  print("The value is equal to five") # If previous statement is true the print statement will execute.
else: # If first statement "if a == 5" evalutes to false execution skips previous print statment, the else statement executes 
      #then the last print statment executes.
  print("The value is greater than 5.")

The value is equal to five

In [ ]:
b > 10
if b < 10:
  print("")