#Tuples

Tuples are another data structure in python that can contain a collection of data and is considered a sequence just like a list is.  A tuple is represented by parenthesis () and can be created as follows:
variable = ().
A tuple is a different type of data structure in that once it is created it is not mutable.  You cannnot add to a tuple, change any value(s) or remove any values so essentially the value(s) in a tuple remain constant or static. Tuples also can contain values of the same or different data types.  One other note to make here is tuples are also 0 index based like lists.

This type of data structure is great if you are using values that will not change such as an individual and their birthday as noted below.

In [ ]:
patient_yob = ("John Doe", 1974)
print(patient_yob)

('John Doe', 1974)

Lets say you want to create a tuple with just one variable.  In order to do this you would use the following syntax: 
variable = ("Value",).  Below a tuple name is created with one variable "John".

In [ ]:
name = ("John", )
print(type(name))
print(name)

<class 'tuple'>
('John',)

Now if an attempt is made to change the value John in the tuple name below, the following TypeError occurs detailing that a tuple object cannot be changed.

In [ ]:
name[0] = "Sam"
print(name)

Now as with lists or any sequence, you could loop through a tuple.  Lets say you have the following tuple:
id_info = ("John Doe","May 6, 1987", 234125670).  Here as example you have an individual name, birthdate and social security number.
If you wanted to loop through the tuple you would doing the following:

In [ ]:
id_info = ("John Doe", "May 6, 1987", 234125670)
for i in id_info:
  print(i)

You could also unpack a tuple such as in the following:

In [ ]:
a, b, c = id_info
print(a, b, c)
print(a)
print(b)
print(c)

Indexing and slicing with tuples works the same way as with any other sequence.

In [ ]:
id_info[0]

In [ ]:
id_info[:]

('John Doe', 'May 6, 1987', 234125670)

In [ ]:
id_info[0:4]

('John Doe', 'May 6, 1987', 234125670)

In [ ]:
id_info[-1]

234125670

For more information please visit [Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) in the Python documentation.