#Data Structures Part I - Lists

##Lists

Lists are a sequence of values.  They are mutable or can be changed after creation such as by sorting, adding to and removing values from.  The following creates a list called names:

In [ ]:
names = ["John", "Sarah", "Maegan", "Ethan", "Hailey"]

Lists are zero index based meaning the first value is 0, followed by 1 etc.  In this case the list has 5 values but since it is zero based the number of values is n-1 or 0, 1, 2, 3, 4.  The indexes are represented in brackets such as [0].  The following example prints the first value in the list.

In [ ]:
print(names[0])

'John'

A list can also be created using empty [].

In [ ]:
lst = []
print(lst)

[]

A list can also cantain different data types such as integer, float, string and boolean.

In [ ]:
records = [7, "Sam", 8,9, "Michelle", 1974, 36.9, True]
print(records)

[7, 'Sam', 8, 9, 'Michelle', 1974, 36.9, True]

A list can also be concatenated to another list using the + operand. Concatenating both names and records list will create a new list.

In [ ]:
new_list = names + records
print(new_list)

['John', 'Sarah', 'Maegan', 'Ethan', 'Hailey', 7, 'Sam', 8, 9, 'Michelle', 1974, 36.9]

###List Methods

Since a list is a python object it has methods that can be used such as sort, append, insert, remove and pop to perform opertions.

The sort method arranges the list in alphabetical or ascending order.  Using the names will result in the following:

In [ ]:
grocery_list =["lettuce", "pepsi", "oranges","bread", "ham", "cheese"]

#grocery_list.sort()
print(grocery_list)

['bread', 'cheese', 'ham', 'lettuce', 'oranges', 'pepsi']

The sort method also has a reverse agrument that can be set to True as seen below to set the list to decending order.

In [ ]:
grocery_list = ["lettuce", "pepsi", "oranges","bread", "ham", "cheese"]
grocery_list.sort(reverse=True)
print(grocery_list)

['pepsi', 'oranges', 'lettuce', 'ham', 'cheese', 'bread']

The append method is useful when first creating an empty list, then adding values individually.

In [ ]:
temp = []
temp.append(36.7) # Each time append is used it will add the value to the list
temp.append(37.1)
temp.append(37.3)
temp.append(38.2)
temp.append(38.7)
temp.append(38.5)
print(temp)

[36.7, 37.1, 37.3, 38.2, 38.7, 38.5]

The insert method inserts a value or element in this case at the position specified using the following:  insert(position, element).  Since list's are zero index based, if you were to insert an element at position 0 which currently is 36.7 the new value will be in that position shifting all subsequent elements to the right as shown below.

In [ ]:
temp.insert(0,39)
print(temp)

[39, 36.7, 37.1, 37.3, 38.2, 38.7, 38.5]

The remove method removes a element from a list using the following notation: list.remove(element).

In [ ]:
temp.remove(36.7)
print(temp)

[37.1, 37.3, 38.2, 38.7, 38.5]

The pop method will removed an element using its index as a argument to the function call list.pop(index)

In [ ]:
temp.pop(0)
print(temp)

[37.3, 38.2, 38.7, 38.5]

One last method to cover is the len() function which provides the length of a list.

In [ ]:
print(len(temp))

4

###List Slicing

List slicing allows a specific value or range of values to be extracted from a list.  Starting with the example list below detailing 7 values of an adult patient heart rate several examples will show basic to more advanced methods.

heart_rate = [78, 85, 97, 65, 82, 91]

With this list the indexes are as follows:
heart_rate = [0, 1, 2, 3, 4, 5] starting at index 0 and ending with index 5.  With slicing the range is indicated using [starting index : ending index].
In order to get values from the list from index 0 to 2 use heart_rate[0:3].  This notation states to get the values starting at index 0 up to but not including index 3 as shown below.

In [ ]:
heart_rate = [78, 85, 97, 65, 82, 91]
print(heart_rate[0:3])

[78, 85, 97]

To get the whole range of numbers the following is required

In [ ]:
heart_rate = [78, 85, 97, 65, 82, 91]
print(heart_rate[0:6])

[78, 85, 97, 65, 82, 91]

Now if the range was set to the following heart_rate[0:7] or heart_rate[0:7] where it was beyond the indexes in the current list, no error would occur and the list would just be printed.

In [ ]:
heart_rate[0:7]

[78, 85, 97, 65, 82, 91]

To get the value 97 from the list use:

In [ ]:
print(heart_rate[2:3])

[97]

To get the values from 65 through the end of the list two methods could be used, either heart_rate[3:6] or heart_rate[3:]

In [ ]:
heart_rate[3:6]

[65, 82, 91]

In [ ]:
heart_rate[3:]

[65, 82, 91]

Another was to get lets say values 78, 85 and 97 one could use heart_rate[:3]

In [ ]:
print(heart_rate[:3])

[78, 85, 97]

To get the whole list one could simply using the following notation heart_rate[:]

In [ ]:
heart_rate[:]

[78, 85, 97, 65, 82, 91]

List slicing can also be done in reverse could from -1 through to the beginning of the list.  In this case that would be heart_rate[-6, -5, -4, -3, -2, -1].  This type of slicing is usually done when the programmer would like to extract the last item in a very large list.

This is the example to extract the last item:

In [ ]:
print(heart_rate[-1:])

[91]

To get the entire list in this fashion you would use the following:

In [ ]:
print(heart_rate[-6:])

[78, 85, 97, 65, 82, 91]

To learn further about slicing play around with the list provided above or create a list of your own and experiement.

###Iterate through a list or sequence using a for loop

In [ ]:
heart_rate = [78, 85, 97, 65, 82, 91]

for item in heart_rate:
  print(item)

78
85
97
65
82
91

The following is an example of how to update each value in the list by 1. As can be seen a new empty list, updated_heart_rate, is first created on line 1.  On line 2 as the loop variable item iterates through each value in heart_rate, on line 3 1 is then added to item at which time the new value in item is added to updated_heart_rate.

In [ ]:
updated_heart_rate = []
for item in heart_rate:
  updated_heart_rate.append(item + 1)

print("Previous list of heart rates: " + heart_rate)

print("Newly updated list: " + updated_heart_rate

##List Comprehensions

List Comprehensions are a much more efficient way accomplising the previous code block with just one sentence.  They are commonly used where sometime of computation or operation is completed on the data in the list then placed in a new list once done. Below is the same code block above changed to a list comprehension.

In [ ]:
updated_heart_rate = [item + 1 for item in heart_rate]
print(updated_heart_rate)

[79, 86, 98, 66, 83, 92]